<br>
<h1 class="flex flex-wrap items-center justify-center text-lg font-bold">Todos</h1>
<br>
<div class="bg-gray-100">

<div>
  <tbody>
    <% @submissions.each do |submission| %>
      <tr><pre>
        <input type="checkbox"><td><%= submission.title %></td>
        <td><%= submission.description %></td>
        <td><%= link_to 'Show', submission %></td>
        <td><%= link_to 'Edit', edit_submission_path(submission) %></td>
        <td><%= link_to 'Destroy', submission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr></pre>
    <% end %>
    </div>
  </tbody>
</div>

<%= link_to 'New Submission', new_submission_path %>
