<!DOCTYPE html>
<html>
  <head>
    <title>TodoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,500,600,700' %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-gray-200 relative h-screen overflow-x-hidden">

    <nav class="bg-blue-300 py-2 border-b border-blue-300" role="navigation" aria-label="main navigation">
      <div class="flex flex-wrap items-center justify-center lg:justify-start lg:content-center px-4 lg:px-6">
    
      <%= link_to root_path, class: "leading-normal no-underline my-2 md:my-0" do %>
        <h1 class="text-lg pr-2 text-gray-100">Awesome Todos</h1>
      <% end %>

      <div class="flex flex-wrap justify-start w-full lg:w-2/3">
      </div>

        <div class="w-full flex flex-wrap flex-1 items-center justify-end pt-4 lg:pt-0">
          <div>
            <% if user_signed_in? %>
            <%= link_to destroy_user_session_path, method: :delete, class: "hover:bg-purple-500 hover:text-white text-gray-700 no-underline block py-2 px-4 flex items-center text-sm" do %>
              Sign Out
             <% end %>
                <%= link_to new_submission_path do %>
                <% end %>
              <% else %>
               <%= link_to "Login", new_user_session_path, class: "btn btn-outline btn-small mr-2" %>
               <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-outline btn-small mr-2" %>
            <% end %>
          </div>


          <% if user_signed_in? %>
              <div class="dropdown rounded bg-white border border-gray-400 text-gray-600 ml-1 hover:bg-gray-200">
                <div class="dropdown-content pt-2 pb-2 pl-3 pr-1">
                <%= link_to "#", class: "js-dropdown-user-target no-underline flex justify-between text-gray-700 uppercase text-xs tracking-wide items-center font-semibold" do %>
                  <%= current_user.email if current_user.email %>
                <% end %>

                <ul class="list-none hidden dropdown-list absolute left-o rounded-b border border-gray-500 shadow">
                <h5 class-="mt-2 uppercase text-xs text-gray- font-normal py-2 pl-3 tracking-wide">My Stuff</h5>

                <li>
                   <%= link_to "#", class: "hover:bg-purple-500 hover:text-white text-gray-700 no-underline block py-2 px-4 flex items-center text-sm" do %>
                 <% end %>
                </li>

                <li>
                   <%= link_to edit_user_registration_path, class: "hover:bg-purple-500 hover:text-white text-gray-700 no-underline block py-2 px-4 flex items-center text-sm" do %>
                  <% end %>
                </li>
               </ul> 

                </div>
              </div>
          <% end %>
        </div>
      </div>
    </nav>

    <%= yield %>
    
  </body>
</html>